
html
    head
        
        //- Importing Ubuntu from Google Fonts
        link(href = 'https://fonts.googleapis.com/css?family=Ubuntu', rel = 'stylesheet')
        
        style
            //- Importing my own CSS file
            include ../static/style.css

        script().

            // Assigns the gameID passed to the Pug view to a JS variable
            let gameID = #{gameID};
            let grid = [!{grid.map(row => row.map(cell => '"' + cell.toString() + '"'))}];
            console.log(grid);
            let letterIndices = {
                A: 0,
                B: 1,
                C: 2,
                D: 3,
                E: 4,
                F: 5,
                G: 6,
            }

            // An AJAX function that updates 
            function checkGrid(gameID) {

                // Initialises the xhttp library
                var xhttp = new XMLHttpRequest();

                // Called when the ready state of the request changes
                xhttp.onreadystatechange = function() {

                    // Checks that the request is complete
                    if (this.readyState == 4 && this.status == 200) {

                        // Converts the retrieved JSON string to a JS object
                        let gameData = JSON.parse(this.responseText);

                        //
                        let s = gameData.currentSquare;
                        console.log("s: " + s);
                        //
                        document.getElementById("current_square_box").innerHTML = s;

                        let colLetter = s.slice(0, 1);
                        console.log("colLetter: " + colLetter);

                        let col = letterIndices[colLetter];
                        console.log("col: " + col);

                        let rowOld = s.slice(1, 2);
                        console.log("rowOld: " + rowOld);

                        let row = rowOld - 1;
                        console.log("row: " + row);

                        let index = row * 7 + col
                        console.log("index: " + index);

                        let currentSquareContents = grid[index];
                        console.log("currentSquareContents: " + currentSquareContents);
                   };
                };

                // Opens the GET request for the JSON file
                xhttp.open("GET", "gameData" + gameID + ".json", true);

                // Sends the request
                xhttp.send();
            };

            setInterval(checkGrid, 2000, gameID);

    body
        table
            td
                table(class = 'player_grid')
                    //- Creating the top row of the grid and displaying each column's letter
                    tr
                        th 
                        th A
                        th B
                        th C
                        th D
                        th E
                        th F
                        th G

                    //- Iterates through each row in the grid passed to the view
                    each row, index in grid

                        //- Creates a row for each row
                        tr(class = 'player_grid_row')

                            //- Creates a side heading for each row
                            th(class = 'player_grid_head')= index + 1

                            //- Iterated through each column
                            each cellType in row

                                //- Creates a cell for each column in the row
                                //- that contains the user's custom grid input
                                td(class = 'player_grid_cell')= cellType
            td
                h1 Current Square:
                p(id = 'current_square_box')
