html
    head
        style
            include ../static/style.css
    body
        table(class = 'player_grid')
            tr
                th 
                th A
                th B
                th C
                th D
                th E
                th F
                th G
                
            each row, index in grid
            
                tr
                    th(class = 'player_grid_head')= index

                    each cell in row
                    
                        td(class = 'player_grid_cell')= cell