html * {
    font-family: 'Ubuntu' !important;
    text-align: center;
}

.heading {
    font-size: 72px;
    text-align: center;
}

.buttons {
    text-align: center;
}

.title-button {
    font-size: 48px;
    min-width: 150px;
    width: 25vw;
    min-height: 72px;
    height: 15vh;
}

.confirmation {
    visibility: hidden;
}

.desktop_init_table {
    border-spacing: 20px;
    width: 80vw;
    height: 80vh;
}

.desktop_init_table_cell {
    text-align: center;
    font-size: 72;
    font-weight: bold;
    border: 2px solid black;
    width: 33%;
    height: 33%;
}

.cell_tall {
    height: 66% !important;
}

.cell_wide {
    width: 66% !important;
}

.desktop_init_table_heading {
    font-size: 24;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: -50px;
}

.desktop_grid {
    border-collapse: collapse;
}

.desktop_grid_cell {
    text-align: center;
    border: 2px solid black;
}

.player_grid {
    border-collapse: collapse;
}

.player_grid_cell {
    text-align: center;
    border: 2px solid black;
}

/* This targets any screen that is in landscape orientation. */
@media only screen and (orientation: landscape)/* and (min-device-aspect-ratio: 1/1)*/ {
    .player_grid_cell {
        width: 12vh;
        height: 12vh;
    }
}

/* This targets any screen that is in portrait orientation*/
@media only screen and (orientation: portrait) {
    .player_grid_cell {
        width: 12vw;
        height: 12vw;
    }
}

.player_grid_input {
    text-align: center;
    width: 90%;
    height: 90%;
    border: none;
}
